.empty {
  display: grid;
  place-items: center;
  padding: 60px 0;
}

.container {
  width: 100%;

  .cellWithImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    .cover {
      height: 50px;
    }
  }

  .buttonsBlock {
    width: 6rem;

    .icon {
      cursor: pointer;
    }
  }
}






