@import '@/styles/mixin';

.modalWrapper {
  position: fixed;
  z-index: 50;
  inset: 0;
  background: rgb(0 0 0 / 70%);
}

.top {
  @include flex(row, 0, 0, center, space-between);

  padding: 15px 25px;
}

.modal {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.typography {
  padding: 20px 25px;
}

.closeButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: var(--color-light-100);

  &:hover,
  &:focus-visible {
    background: var(--color-dark-500);
    border-radius: 50%;
  }
}
