@mixin flex(
  $direction,
  $rowGap: 0,
  $colGap: 0,
  $align-items: flex-start,
  $justify-content: flex-start
) {
  display: flex;
  flex-direction: $direction;
  row-gap: $rowGap;
  column-gap: $colGap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin container($width, $padding-inline: 12px) {
  box-sizing: content-box;
  max-width: $width;
  margin: 0 auto;
  padding-inline: $padding-inline;
}
