@import '@/styles/mixin';

.modal {
  max-width: 450px;
  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.packForm {
  padding: 25px;
  border-top: 1px solid var(--color-dark-500);
}

.typography {
  padding: 20px 25px;
}

.root {
  .header {
    margin-bottom: 36px;

    .top {
      @include flex(row, 0, 0, center, space-between);

      margin-bottom: 12px;
    }
  }

  .pagination {
    @include flex(row, 0, 24px, center, center);

    margin: 34px 0 200px;
  }
}
