@import '@/styles/mixin';

.link {
  @include flex(row, 0, 16px, center);

  padding-block: 0;

  .cover {
    height: 50px;
  }

  &:hover h3 {
    color: var(--color-accent-100);
    text-decoration: underline;
  }

  &:active h3 {
    color: var(--color-accent-500);
  }
}

@media (width >= 950px) {
  .date {
    width: 180px;
  }

  .name {
    width: 200px;
  }
}

.count {
  width: 150px;
}

.controls {
  width: 125px;
  text-align: center;

  .buttons {
    @include flex(row, 0, 12px, center, center);
  }
}
