@import '@/styles/mixin';

@mixin header-interactions() {
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.root {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  /* Radix Fix for fixed position */
  width: calc(100% - var(--removed-body-scroll-bar-size, 0px));
  height: 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .container {
    @include flex(row, 0, 0, center, space-between);
    @include container(1010px);

    height: 100%;

    .user {
      @include flex(row, 0, 14px, center);

      .name {
        border-bottom: 2px dashed var(--color-light-100);
      }

      .dropdownButton {
        @include header-interactions;

        all: unset;

        cursor: pointer;

        width: 36px;
        height: 36px;

        border-radius: 50%;
        outline: 2px solid transparent;

        transition: 0.3s;
      }
    }

    .link {
      @include header-interactions;

      transform: translateX(-4px);

      display: grid;
      place-items: center;

      width: 165px;
      height: 46px;

      border-radius: 23px;

      transition: 0.2s;

      .logo {
        cursor: pointer;
      }
    }
  }
}
