/* reset */
button {
  all: unset;
}

.tabsRoot {
  display: flex;
  flex-direction: column;

}

.tabsList {
  display: flex;
  flex-shrink: 0;

  .tabsTrigger {
    cursor: pointer;
    user-select: none;

    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;

    padding: 6px 24px;

    color: inherit;

    background: transparent;
    border: 1px solid var(--color-dark-300);
    border-left: none;

    &.fullWidth {
      flex: 1;
    }

    &:first-child {
      border-left: 1px solid var(--color-dark-300);
    }

    &:focus-visible {
      border-color: transparent;
      outline: 2px solid var(--color-info-700);
    }

    &:hover {
      color: var(--color-light-900);
      background: var(--color-dark-300);
      border-color: var(--color-dark-300);
    }

    &[data-state='active'] {
      color: var(--color-light-100);
      background: var(--color-accent-500);
    }

    &[data-disabled] {
      cursor: initial;
      color: var(--color-dark-300);
      background: var(--color-dark-700);
      border: 1px solid var(--color-dark-300);
    }
  }
}

.tabsContent {
  flex-grow: 1;

  padding: 20px;

  background-color: inherit;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: none;
}


